.gallery {
	align-items: center;
	min-height: 100vh;
	height: auto;
	padding-top: 30px;
	background-color: fade-out($color: $main-gray, $amount: 0.3);
	min-height: 100vh;
	padding-top: 30px;
	margin-top: 30px;
	.row {
		h2 {
			text-align: center;
		}
		.foto {
			// max-height: 100px;
			height: auto;
			margin: 10px;
			padding: 10px;
			a {
				img {
					width: 100%;
					height: auto;
				}
			}
			p {
			}
		}
	}
}
