.info {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding-top: 30px;
	.info-page {
		background-color: fade-out($color: $main-gray, $amount: 0.3);
		padding: 30px;
	}
}
